<div class="side-bar">
<section="side-bar_group">
  <h2>
    <div class="saide-bar_group_title"マイページメニュー>
  </h2>
      <li>
        <div class="side-bar_group-list">
          <%= link_to "お知らせ", "#" %>
        </div>
      </li>
      <li>
        <div class="side-bar_group_list">
          <%= link_to "いいねした写真", favorites_users_path %>
        </div>
      </li>
</section>