<%#= render 'users/info', user: @user %>

<div class="container">
  <div class="row">
    <div class="col-lg-4" style="background-color: orange;">
      <h2>サイドバー</h2>
      <h3 class="name"><%= @user.name%></h3>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>

    </div>


   <div class="col-lg-8" style="background-color: red;">



    </div>


  </div>
</div>