

<% unless user == current_user %>
         <th>
         <% if current_user.following?(user) %>
         <%= link_to user_relationships_path(user.id), method: :delete do %>
         <div class="btn btn-danger btn-block">
         <span>フォロワー</span>
         </div>
         <% end %>
         <% else %>
         <%= link_to user_relationships_path(user.id), method: :POST do %>
         <div class="btn btn-primary btn-block">
         <span>フォロー</span>
         </div>
         <% end %>
         <% end %>
         <% end %>